* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    max-width: 1200px;
    width: 100%;
	min-height: 600px;
    border-radius: 6px;
    padding: 35px;
    margin: 25px;
    background-color: #FAF9F6;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	display: grid;
	grid-template-areas:
	'esqueda direita'
	'embaixo embaixo';
	gap: 10px;
}

.direita {
	width: 100%;
	margin: 0px 15px;
	align-items: center;
	justify-content: center;
	margin: 0px 15px;
	text-align: center;
	padding: 10px;
}

.esquerda {
	width: 100%;
	margin: 0px 15px;
	align-items: center;
	justify-content: center;
	margin: 0px 15px;
	text-align: center;
	padding: 10px;
}

.embaixo {
	width: 200%;
}

.esquerda .ico {
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	transition: 0.4s;
	filter: grayscale(1);
	border-radius: 15%;
}

.esquerda .ico:hover {
	border-radius: 50%;
	filter: grayscale(0);
	cursor: pointer;
	box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.sobre p {
	margin-top: 5px;
}

.detalhes {
	margin-top: 20px;
}

.detalhes h2 {
	font-size: 20px;
}

.detalhes hr {
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.detalhes .text {
	width: 60%;
	margin: auto;
	text-align: justify;
}

.detalhes .sub {
	font-weight: bold;
	font-style: italic;
}

.direita table {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	margin-bottom: 100px;
}

.direita table thead tr {
	background-color: #ccc;
}

.direita table tbody tr:nth-child(even) {
	background-color: #ffffff;
}

.embaixo h2 {
	text-align: center;
	margin: 20px;
}

.embaixo hr {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
	
.embaixo table {
	width: 70%;
	height: auto;
	border-collapse: collapse;
	text-align: center;
	margin: auto;
}

.embaixo table thead tr {
	background-color: #ccc;
}

.embaixo table tbody tr:nth-child(even) {
	background-color: #ffffff;
}
