p {
	padding-top: 10px;
	padding-bottom: 10px;
}

h1.principal {
	font-size: 40px;
	color: #474747;
}

h2 {
	font-size: 20px;
	padding: 0;
	color: #474747;
}

.detalhes>h2 {
	margin: 10px;
}

.container {
	margin: 25px;
	padding: 50px;
	background-color: #f1f1f1;
	text-align: center;
	color: #7B7B7B;
	min-height: 200px;
	width: 80%;
	font-family: 'Oswald', sans-serif;
}

.direita {
	width: 100%;
	
}

.esquerda {
	width: 100%;
	margin: 20px;
}

.sobre {
	font-size: 12px;
}

.negrito {
	color: #000;
	font-weight: 700;
}

img {
	filter: grayscale(1);
	transition: .3s;
}

img:hover {
	filter: grayscale(0);
	cursor: pointer;
	box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

img.miltin {
	border-radius: 15%;
	width: 250px;
}

img.miltin:hover {
	border-radius: 50%;
}

.ico {
	width: 32px;
	border-radius: 50%;
}

.redes {
	margin-top: 15px;
}

.redes>img {
	padding-left: 10px;
}

body {
	background-color: rgb(255, 255, 255);
}

img {
	width: 200px;
	border-radius: 10%;
}

img.ico {
	width: 200px;
	filter: grayscale(1);
	transition: 0.3s ease-in;
}

img:hover {
	filter: grayscale(0);
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.2);
}

table {
	width: 100%;
	height: 90%;
	margin: 0 auto;

	border-collapse: collapse;
}

table thead tr {
	background-color: #ccc;
}

table tbody tr:nth-child(even) {
	background-color: #ffffff;
}

.next-button {
	background-color: #337ab7;
	color: white;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 3px;
	cursor: pointer;
}