* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* ======================  MAIN CSS ====================== */
.main {
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  background-color: rgba(236, 236, 236, 1);
}

img {
  max-width: 100%;
  display: block;
}

.main h1 {
  font-size: 70px;
  padding-top: 30px;
  margin: 0px 0px 30px 0px;
}


/* ====================== GRID CSS ====================== */

.grid-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1400px;
  max-height: 2000px;
  padding: 20px;
  margin: 20px auto;
  grid-gap: 20px;
  border: 5px double black;

  text-align: justify;
}


.grid-1 > div:nth-child(n + 4) {
  display: grid;
  grid-template-columns: 75%;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  text-align: justify;
}

.grid-1 > div.anuncio {
  grid-column: 1;
  grid-row: 2 / 5;
  display: block;
  max-height: 100%;

  background-color: #FFC401;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);

  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  text-align: justify;
}

.anuncio > div {
  display: grid;
  grid-gap: 20px;
}


@media (max-width: 600px) {
  .grid-1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-1 > div:nth-child(n + 4) {
    display: block;
  }

  .grid-1 > div.anuncio {
    grid-column: auto;
    grid-row: auto;
  }
}
